  body { 
    margin: 0; 
    padding: 20px; 
    background: #f9f9f9;
    color: #333;
  }
  .container { 
    max-width: 986px; 
    margin: 0 auto; 
    background: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  footer{
padding:10px;
text-align:center;
  }
  footer a{
text-decoration:none;
color:#333;
  }
  h1 {
    margin-bottom: 20px;
    color: #222;
  }
  select, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
  }
  select:focus, button:focus {
    border-color: #007BFF;
  }
  button {
    cursor: pointer;
    background: #007BFF;
    color: white;
    transition: background 0.3s;
  }
  button:hover {
    background: #0056b3;
  }
  #message { 
    color: #d9534f; 
    margin-top: 10px;
    font-weight: bold;
  }
  #chart {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
  #loader {
    display: none;
    text-align: center;
    font-weight: bold;
  }
  table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #eaeaea;
    padding: 8px; 
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #444;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }